{% extends "base.html" %}
{% set active_page = "about" %}

{% block content %}
  <div class="home">
    <h2>About WikiTennisBot</h2>
      <div>WikiTennisBot is a webservice that supports update of tennis related information in Wikiepdia and Wikidata.</div>
      <div>In addition to the webservice, it can also be run as a regular update bot.</div>
    <ul >
        <li class="nav-item"><a href="https://de.wikipedia.org/wiki/Benutzer:Mad_melone/WikiTennisBot" target="_blank">Tool description</a></li>
        <li class="nav-item"><a href="https://github.com/madmelone/WikiTennisBot/issues" target="_blank">Issues & Feature Requests</a></li>
      </ul>
  </div>
{% endblock %}